
		<div class="container">
			<div class="row">
				<main class="col-md-12">


					
					<!-- Start your code here -->
					<h1> About page</h1>
					<header> ------------------</header>
					<header> Welcome and thanks for visiting the about page.</header>
					
					<p> This webpage was development for the web700 assigment 3, my name is Jorge Barcasnegras
						My student id is: 156530214. I'm currently studing Business information technology at Seneca College 
						of applied arts and technology. 
					</p>
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>