
		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h1> Tables! </h1>
					<head>------------------</head>
					<br>

					<table>
						<caption>Table 1</caption>
						<thead>
						  <tr>
							<th colspan="3">Colors in english, french and spanish</th>
						  </tr>
						  <tr>
							<th>English</th>
							<th>French</th>
							<th>Español</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td>Yellow</td>
							<td>Jaune</td>
							<td rowspan="1">Amarillo</td>
						  </tr>
						  <tr>
							<td>Azul</td>
							<td>Blue</td>
							<td rowspan="1">Azul</td>
						  </tr>
						  <tr>
							<td>Red</td>
							<td>Rouge</td>
							<td>Rojo</td>
						  </tr>
						</tbody>
						<tfoot>
						  <tr>
							<td colspan="3">Those are the colors of Colombia's flag</td>
							<br>
							
						  </tr>
						</tfoot>
					  </table>
					  <table>
						<caption>Table 2</caption>
						<thead>
						  <tr>
							<th rowspan="2">Month</th>
							<th colspan="2"><-------Sales-------></th>
						  </tr>
						  <tr>
							<th>Product A</th>
							<th>Product B</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td>January</td>
							<td>$100</td>
							<td>$200</td>
						  </tr>
						  <tr>
							<td>February</td>
							<td>$150</td>
							<td>$250</td>
						  </tr>
						  <tr>
							<td>March</td>
							<td>$200</td>
							<td>$300</td>
						  </tr>
						</tbody>
						<tfoot>
						  <tr>
							<td>Total</td>
							<td>$450</td>
							<td>$750</td>
						  </tr>
						</tfoot>
					  </table>
					
					<p>
						The two tables created demonstrate the use of several important HTML table elements and properties.
						 Both tables have a caption that briefly describes the data presented. 
						 Each table is divided into three sections using the thead, tbody, and tfoot elements, 
						 with the head section containing the table headers and the foot section containing the table footer. 
						 The table cells are defined using the th and td elements, with the th element used for the header cells and 
						 the td element for the data cells. The rowspan and colspan properties are also used to span cells across rows or columns,
						  which is useful for merging cells and creating more complex table layouts. 
						  Overall, these tables demonstrate the flexibility and versatility of HTML tables in organizing and presenting tabular data on a web page.
					</p>

					<h1> List section!</h1>
					<head>------------------</head>
					<br>
					<ul>
						<li>Montreal</li>
						<li>Calgari</li>
						<li>Great Toronto Area
						  <ol>
							<li>Toronto</li>
							<li>Markham</li>
							<li>Vaughan</li>
						  </ol>
						</li>
						<li>Bogotá</li>
						<li>Barranquilla</li>
					  </ul>
					  <p>
						In this section we can find a list of citys of the world.
					  </p>
					  
						<h1>Images <section></section></h1>
						
						<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder in halfpipe"> &nbsp;
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/255px-Flag_of_Canada_%28Pantone%29.svg.png" alt="Canada Flag">&nbsp;
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/120px-Node.js_logo.svg.png" alt="Node"> &nbsp;
						<br>

						<h1> Audio Section</h1>
						<head>------------------</head>
						<br>
						<br>

						<audio controls>

							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
							<br>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
							
						</audio>
						<p>
							In this secction i used the audio control to insert audio files into the website
						</p>

						<h1>Video section</h1>

						<video width="640" height="360" controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
						  </video>
						  
						<p>
							In this section i used the video tag to insert videos into the website.
						</p>

					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

